* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(134, 134, 247);
    font-family: Arial, Helvetica, sans-serif;
    /* background-repeat: no-repeat; */
}

header {
    background-color: black;
    border-radius: 45px;
    padding-bottom: 10px;
    height: 120px;

    /* Important for children to respect parent border and positioning */
    position: relative;
}

#music-is-life {
    width: fit-content;
    position: absolute;
    margin-top: 1rem;
    
    /* Enable overlaping */
    z-index: 1;
    
    /* Vertical positioning*/
    top: 0px;

    /* Horizontal positioning */
    /* Center the div with title and the G-clef */
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#music-life {
    color: rgb(252, 239, 180);
    font-size: 4rem;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}

#G-clef {
    width: 4em;
}

.top-nav {
    height: 30px;
    width: fit-content;
    list-style: none;

    /* Positioning and overlaping */
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: 20px;
}

.top-nav li{
    display: inline;
    margin-right: 30px;
}

.top-nav a {
    color: hotpink;
    border:2px solid greenyellow;
    font-size: 25px;
    padding: 10px;
}

#content {
    display: flex;
    /* background-color: yellow; */
}

nav {
    background-color: red;
}

#side-list {
    padding: 30px;
    list-style: none;
    color:ivory;
    font-size: 20px;
    /* background-color: teal; */
}

article {
    flex: 1;
    text-align: center;
    /* background-color: blue; */
}

#side-list li {
    width: fit-content;
    padding: 5px;
}

#side-list li:hover {
    color: rgb(255, 153, 0);
    cursor: pointer;
}

#side-list a {
    color: burlywood;
}

#side-list a:hover {
    color: rgb(255, 153, 0);
}

footer{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: end;
}
