* {
    padding: 0%;
    margin: 0%;
    border-radius: 15px;
}

body {
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    /* background-repeat: no-repeat; */
}

header {
    background-color:black;
    padding-bottom: 10px;
    height: 120px;
    border: 1px solid #343a40;

    /* Important for children to respect parent border and positioning */
    position: relative;
}

#music-is-life {
    width: fit-content;
    position: absolute;
    margin-top: 1rem;
    
    /* Enable overlaping */
    z-index: 1;
    
    /* Vertical positioning*/
    top: 0px;

    /* Horizontal positioning */
    /* Center the div with title and the G-clef */
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

#music-life {
    /* color: rgb(252, 239, 180); */
    color: rgb(139, 20, 20);
    font-size: 4rem;
    display: inline;
    font-family: 'Times New Roman', Times, serif;
}

#G-clef {
    width: 4em;
}

.top-nav {
    height: 30px;
    width: fit-content;
    list-style: none;

    /* Positioning and overlaping */
    position: absolute;
    z-index: 2;
    right: 0px;
    bottom: 20px;
}

.top-nav li{
    display: inline;
    margin-right: 30px;
}

.top-nav a {
    color: rgb(252, 239, 180);
    border:2px solid white;
    font-size: 20px;
    padding: 10px;
}
p, h2 {
    color: rgb(139, 20, 20);
}
#content {
    display: flex;
    /* background-color: yellow; */
}

#side-list {
    padding: 30px;
    list-style: none;
    /* color:ivory; */
    color: rgb(139, 20, 20);
    font-size: 17px;
    /* background-color: teal; */
}

article {
    flex: 1;
    text-align: center;
    /* background-color: blue; */
}

#side-list li {
    width: fit-content;
    padding: 5px;
}

#side-list li:hover {
    color: rgb(255, 153, 0);
    cursor: pointer;
}

#side-list a {
    color: burlywood;
}

#side-list a:hover {
    color: rgb(255, 153, 0);
}

#about {
    width: 610px;
    margin: auto;
    border: 1px solid #343a40;
  }
  
footer{
    /* color: white; */
    color: rgb(139, 20, 20);
    background-color: black;
    /* background-color: white; */
    padding: 20px;
    text-align: end;
    border: 1px solid #343a40;
}
